@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

* {
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
}

@theme {
	--font-montserrat: 'Montserrat', sans-serif;
}

.scroll-hidden {
	&::-webkit-scrollbar {
		display: none; /* Chrome, Safari e Edge */
	}
	overflow: auto; /* mantém o scroll ativo */
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE e Edge antigos */
}
